<main class="contenedor contenedor-formularios">
  <h1><%= pagina %></h1>
  <form method="POST" class="default-form">
    <legend>¿Eliminar grupo? Un grupo eliminado no se puede recuperar</legend>
    <div class="campo enviar">
      <input class="btn btn-rosa" type="submit" value="Eliminar grupo" />
    </div>
  </form>
</main>
