<main class="contenedor contenedor-formularios">
  <h1><%= pagina %></h1>

  <form class="default-form" action="/olvide" method="POST" novalidate>
    <div class="campo">
      <label>Correo</label>
      <input type="email" name="correo" placeholder="Tu correo" />
    </div>
    <div class="campo enviar">
      <input class="btn btn-rosa" type="submit" value="Enviar instrucciones" />
    </div>
  </form>
</main>
